@font-face {
  font-family: 'helvetica-neue-thin';
  src: url('helvetica-neue-thin.otf');
}

@font-face {
  font-family: 'helvetica-neue-ultra-thin2';
  src: url('helvetica-neue-ultra-thin.otf');
}

body {
  font-family: helvetica-neue-ultra-thin2, sans-serif;
  font-size: 18px;
}

h1 {
  font-family: helvetica-neue-thin, sans-serif;
  margin: 0 0 10px 0;
}

.center {
  text-align: center !important;
}

a:hover {
  color: #ff445f !important;
  background: none !important;
}

.nav li a:hover {
  color: #ff445f !important;
}

.hamburger:hover {
  color: #ff445f !important;
  background: none !important;
  border: none !important;
}

.collapse-button:hover {
  background: none !important;
}

.start-listening-btn:hover {
  font-weight: bold;
  color: #ff445f;
  border: 1px solid #ff445f;
  background-color: transparent;
}

.create-btn:hover {
  font-weight: bold;
  border: 2px solid #fff;
}

.premium-btn:hover {
  border: 1px solid rgb(255, 189, 123);
  color: #ffbd7b;
  background: transparent !important;
}

.arrow-white:hover {
  border: 1px solid #fff;
  border-radius: 50%;
  padding: 10px;
}

.arrow-pink:hover {
  border: 1px solid #ff445f;
  border-radius: 50%;
  padding: 10px;
}

.navbar {
  margin: 0;
  padding: 20px;
  background-color: #fff !important;
}

.navbar-header {
  border: none !important;
}

.collapse-button {
  border: none !important;
}

#username-update {
  margin: 0 -20px 0 0;
  display: none;
}

.dropdown-menu {
  font-size: 18px;
}

.dropmenu-item {
  display: block;
}

.navbar-brand {
  margin: -10px 0 0 -10px !important;
  font-weight: bolder;
  font-family: helvetica-neue-thin, sans-serif;
}

.hamburger,
.navbar-brand,
.nav li a{
  color: #4d4d4d !important;
}

.headphones {
  font-size: 25px;
  margin: 0 0 0 2px;
}

section.concert-banner {
  font-size: 20px;
  font-weight: 500;
  background-size: cover;
  width: 100%;
  height: 1000px;
  margin: 0;
  color: #fff;
  text-align: center;
  z-index: -200;
}

video#fullscreen {
  min-width: 100%;
  min-height: 100%;
  background-size: cover;
  z-index: -200;
  width: auto;
  height: auto;
  position: relative;
}

.banner-text {
  letter-spacing: 0.02em;
  position: absolute;
  margin-top: 380px;
  line-height: 30px;
}

h1.welcome {
  font-size: 40px;
}

.start-listening-btn {
  font-family: helvetica-neue-thin, sans-serif;
  font-size: 20px;
  letter-spacing: 0.05em;
  color: #fff;
  border: 1px solid #ffffff;
  padding: 10px 15px;
  border-radius: 10px;
  background-color: transparent;
}

.banner-arrow {
  position: absolute;
  margin-top: 870px;
}

.down-arrow-one {
  color: #ffffff;
  font-size: 30px;
}

.down-arrow-two {
  margin-top: 15px;
  color: #ff445f;
  font-size: 30px;
}

.playlist-search-container {
  padding: 140px 10px 0 10px;
}

.playlist-container {
  background: rgb(40, 40, 40);
  height: 600px;
  margin: 50px 0;
}

.search-container {
  background: #282828;
  height: 600px;
  margin-top: 50px;
  padding-top: 30px;
  text-align: left;
}

#searchInput {
  background: url('search-icon.png') no-repeat #ffffff 1%;
  background-size: 25px;
  width: 90%;
  text-align: left;
  border-radius: 5px;
  padding-left: 40px;
  margin-left: 35px;
}

.search-btn-col {
  text-align: left !important;
}

.search-btn {
  font-family: helvetica-neue-thin, sans-serif;
  font-size: 18px;
  color: #fff;
  background-color: #ff445f;
  width: 120px;
  height: 36px;
  border: 1px solid #ff445f;
  margin-left: -45px;
}

#search-info {
  color: #fff;
  display: block;
}

.big-search {
  width: 200px;
  margin-top: 95px;
  opacity: 0.15;
}

.search-info-body {
  color: #bbbbbb;
}

.create-account-container {
  height: 1000px;
  width: 100%;
  padding-top: 93px;
}

.create-account {
  font-size: 20px;
  font-weight: 500;
  background: linear-gradient(to right, rgb(255, 68, 95), rgb(255, 189, 123));
  background-size: cover;
  width: 100%;
  height: 900px;
  padding-top: 105px;
  color: #fff;
}

.form-container {
  margin-top: 35px;
  letter-spacing: 0.015em;
}

input {
  color: #000;
  line-height: 30px;
  width: 350px;
  border: none;
  border-radius: 10px;
  margin-bottom: 20px;
  padding-top: 5px;
  text-align: center;
}

.letter-spacing {
  margin-right: 1px;
}

.create-btn {
  font-family: helvetica-neue-thin, sans-serif;
  font-size: 25px;
  letter-spacing: 0.01em;
  border: 1px solid #fff;
  border-radius: 50%;
  padding: 30px 15px;
  background: transparent;
  margin: 30px;
}

.down-arrow-three {
  color: #ffffff;
  font-size: 30px;
  margin-top: 60px;
}

.try-premium-container {
  height: 183px;
  width: 100%;
  padding: 62px 0 0 0;
}

.premium-btn {
  border: 1px solid #ff445f;
  color: #ff445f;
  font-size: 25px;
  border-radius: 35px;
  padding: 10px 20px;
}

.footer {
  height: 250px;
  width: 100%;
  background-color: #282828;
}

.social-media {
  padding-top: 150px;
}

.icon {
  width: 40px;
  height: 40px;
  border: 2px solid #fff;
  border-radius: 50%;
  padding: 5px;
  margin: 5px;
}