@font-face {
  font-family: 'helvetica-neue-thin';
  src: url('../fonts/helvetica-neue-thin.otf');
}

@font-face {
  font-family: 'helvetica-neue-ultra-thin2';
  src: url('../fonts/helvetica-neue-ultra-thin.otf');
}

body {
  font-size: 12px;
  font-family: helvetica-neue-ultra-thin2, sans-serif;
}

.music {
  font-size: 22px;
  margin: 0 0 0 2px;
}

.hn-thin {
  font-family: helvetica-neue-thin, sans-serif;
}

.pink {
  background-color: rgb(255, 68, 95);
  width: 100px;
  height:100px;
}

.orange-yellow {
  background-color: rgb(255, 189, 123);
  width: 100px;
  height:100px;
}

.grey {
  background-color: rgb(40, 40, 40);
  width: 100px;
  height: 100px;
}

.gradient {
  background: linear-gradient(to right, rgb(255, 68, 95), rgb(255, 189, 123) 100%);
  width: 100%;
  height: 300px;
  margin: 20px 0;
}