<!DOCTYPE html>
<html lang="en">
<html ng-app="myApp">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>maestro! | music you love</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet" media="all">
    <link rel="stylesheet" href="animation.css">
    <link rel="stylesheet" href="default.css">
  </head>
  <body>
    <nav class="navbar navbar-default navbar-fixed-top" id="nav">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed collapse-button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="glyphicon glyphicon-menu-hamburger hamburger"></span>
          </button>
          <a class="navbar-brand" href="/"><h1 class="logo">maestr<span class="glyphicon glyphicon-headphones headphones"></span></h1></a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <!--<li><a href="#">Hello!</a></li>-->
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                <span class="glyphicon glyphicon-user"></span><span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                <li><a href="#">Log In</a></li>
                <li><a href="#create-account">Sign Up</a></li>
              </ul>
            </li>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Contact</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
    <section class="concert-banner">
      <div class="col-lg-5 col-md-6 banner-text">
        <h1 class="welcome">Welcome!</h1>
        Browse through millions of tracks in all genres.<br>
        Create a playlist and choose what you want to listen to.<br>
        Listen to it where ever you are on any device.<br><br>
        <a href="#playlist-search">
          <button type="button" class="btn btn-default start-listening-btn">Start Listening!</button>
        </a>
      </div>
      <div class="col-xs-12 center banner-arrow">
        <a href="#playlist-search">
          <div class="glyphicon glyphicon-menu-down arrow-white down-arrow-one bounce center"></div>
        </a>
      </div>
      <video autoplay loop muted id="fullscreen">
        <source src="party.mp4" type="video/mp4">
      </video>
    </section>
    <div class="playlist-search-container center" id="playlist-search">
      <div class="container-fluid">
        <div class="col-md-5">
          <h1>My Playlist</h1>
          <div class="playlist-container">
            <!-- music -->
          </div>
        </div>
        <div class="col-md-7">
          <h1>Search Music</h1>
          <div class="search-container">
            <!-- music -->
          </div>
        </div>
      </div>
    </div>
    <div class="down-arrow-container center">
      <div class="container-fluid">
        <div class="col-md-12">
          <a href="#create-account">
            <div class="glyphicon glyphicon-menu-down arrow-pink down-arrow-two bounce"></div>
          </a>
        </div>
      </div>
    </div>
    <div class="create-account-container" id="create-account">
      <div class="create-account center">
        <h1>Create an Account</h1>
        <div class="form-container center">
          <div class="container">
            <div class="col-md-12">
              First Name:<br>
              <input type="text" ng-model="user.firstName" required>
            </div>
            <div class="col-md-12">
              Last Name:<br>
              <input type="text" ng-model="user.lastName" required>
            </div>
            <div class="col-md-12">
              E-mail: <br>
              <input type="email" ng-model="user.email" required>
            </div>
            <div class="col-md-12">
              Password: <br>
              <input type="text" ng-model="user.password" required>
            </div>
            <div class="col-md-12">
              Re<span class="letter-spacing"></span>-Type Password: <br>
              <input type="text" ng-model="user.password" required>
            </div>
            <div class="col-md-12">
              <button type="submit" ng-click="update(user)" class="create-btn">Create</button>
            </div>
          </div>
        </div>
        <a href="#premium">
          <div class="glyphicon glyphicon-menu-down arrow-white down-arrow-three bounce center"></div>
        </a>
      </div>
    </div>
    <div class="try-premium-container center" id="premium">
      <div class="container-fluid">
        <div class="col-md-12">
          <div class="try-premium">
            <h1>Love us? Try <button type="button" class="btn btn-default premium-btn">Premium</button></h1>
          </div>
        </div>
      </div>
    </div>
    <div class="footer">
      <div class="social-media center">
        <a href="#"><img src="facebook.png" class="icon"></a>
        <a href="#"><img src="twitter.png" class="icon"></a>
        <a href="#"><img src="instagram.png" class="icon"></a>
      </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="parallax.js"></script>
    <script src="animation.js"></script>
  </body>
</html>